<phpunit>
    <testsuites>
        <testsuite name="Project">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix=".php">tests</directory>
                <file>starter.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>